@{ this.ViewData["Title"] = "Privacy Policy"; }


<div id="backgroundMask" class="col-8">
    <h1>@this.ViewData["Title"]</h1>

    <p>This site is designed for qualified structural engineers. It is necessary base structural knowledge and practice to use functionality properly. The main tasks are designed according to bulgarian regulations.</p>
</div>