@model StructuralDesign.Web.ViewModels.Load.CreatLoadInputModel
@using StructuralDesign.Web.ViewModels.Load

@{
    this.ViewData["Title"] = "Add Load combination values";
}

<h1>@this.ViewData["Title"]</h1>
<div class="container py-1">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="Type"></label>
                        <select asp-for="Type" asp-items="Html.GetEnumSelectList<LoadType>()" class="form-control">
                            <option>Select type ...</option>
                        </select>

                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <label asp-for="AxialForce">Axial Force [kN]</label>
                        <input asp-for="AxialForce" class="form-control" />
                        <span asp-validation-for="AxialForce" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="BendingMomentY">Bending Moment Y [kNm]</label>
                        <input asp-for="BendingMomentY" class="form-control" />
                        <span asp-validation-for="BendingMomentY" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <label asp-for="ShearForceZ">Shear Force Z [kN]</label>
                        <input asp-for="ShearForceZ" class="form-control" />
                        <span asp-validation-for="ShearForceZ" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="BendingMomentZ">Bending Moment Z [kNm]</label>
                        <input asp-for="BendingMomentZ" class="form-control" />
                        <span asp-validation-for="BendingMomentZ" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <label asp-for="ShearForceY">Shear Force Y [kN]</label>
                        <input asp-for="ShearForceY" class="form-control" />
                        <span asp-validation-for="ShearForceY" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary btn-lg btn-block"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>