@model StructuralDesign.Web.ViewModels.Foundation.CreateFoundationInputModel
@{ this.ViewData["Title"] = "Create Foundation";
    var soils = this.Model.Soils.Select(x => new SelectListItem(x.Value, x.Key));
    var concretes = this.Model.Concretes.Select(x => new SelectListItem(x.Value, x.Key));
    var reinforcementMaterials = this.Model.ReinforcemenrsMaterial.Select(x => new SelectListItem(x.Value, x.Key)); 
}

<div id="backgroundMask" class="col-8">
    <h3>@this.ViewData["Title"]</h3>

    <div class="form-group row">
        <div class="col-md-8">
            <form method="post">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label asp-for="Name">Name:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="ConcreteId">Concrete:</label>
                        <select asp-for="ConcreteId" asp-items="concretes" class="form-control"></select>
                        <span asp-validation-for="ConcreteId"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="MaterialRebarId">Reinforcement:</label>
                        <select asp-for="MaterialRebarId" asp-items="reinforcementMaterials" class="form-control"></select>
                        <span asp-validation-for="MaterialRebarId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label asp-for="HeightOfFoundament">Height</label>
                        <input asp-for="HeightOfFoundament" class="form-control" />
                        <span asp-validation-for="HeightOfFoundament"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="HeightOfBackFill">HeightOfBackFill</label>
                        <input asp-for="HeightOfBackFill" class="form-control" />
                        <span asp-validation-for="HeightOfBackFill"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="SoilId">Soil:</label>
                        <select asp-for="SoilId" asp-items="soils" class="form-control"></select>
                        <span asp-validation-for="SoilId"></span>
                    </div>
                </div>
                <partial name="~/Views/Section/_SectionCreateRectangle.cshtml" model="Model.CreateSection" />
                <partial name="~/Views/Load/_LoadCreate.cshtml" model="Model.CreatLoad" />
                <input type="submit" class="btn-primary" />
            </form>
        </div>
        <div class="col-md-4 padding: 10px">
            <div class="row mt-3">
                <img id="fund" src="~/images/sys/fund3d.png" class="img-fluid align-content-center" alt="Responsive image" />
            </div>
        </div>
    </div>
</div>
