@model StructuralDesign.Web.ViewModels.ElementSteel.CreateInputModel
@using StructuralDesign.Data.Models;
@{ this.ViewData["Title"] = "Steel Beam";
    var steel = this.Model.Steel.Select(x => new SelectListItem(x.Value, x.Key));
    var bolts = this.Model.Bolts.Select(x => new SelectListItem(x.Value, x.Key));
    var materialBolts = this.Model.MaterialBolts.Select(x => new SelectListItem(x.Value, x.Key)); }

<h3>@this.ViewData["Title"]</h3>
<div class="form-group row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label asp-for="Name">Name:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="SteelId">ElementSteel:</label>
                    <select asp-for="SteelId" asp-items="steel" class="form-control"></select>
                    <span asp-validation-for="SteelId"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="MaterialBoltId">BoltSteel:</label>
                    <select asp-for="MaterialBoltId" asp-items="materialBolts" class="form-control"></select>
                    <span asp-validation-for="MaterialBoltId"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="BoltId">Bolt:</label>
                    <select asp-for="BoltId" asp-items="bolts" class="form-control"></select>
                    <span asp-validation-for="BoltId"></span>
                </div>
            </div>
            <div class="form-group row">
            </div>
            <div class="form-group text-center">
                <img id="beam" src="~/images/sys/beamFreeFree.png" class="img-fluid center-block" alt="Responsive image" />
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="LeftBoundaryCondition">Bottom</label>
                    <select asp-for="LeftBoundaryCondition" asp-items="Html.GetEnumSelectList<BoundaryCondition>()" class="form-control" id="lbc" onchange='BoundaryCondition(this);' Value="3">
                    </select>
                    <span asp-validation-for="LeftBoundaryCondition"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Length">L, mm</label>
                    <input asp-for="Length" class="form-control" />
                    <span asp-validation-for="Length"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="RightBoundaryCondition">Top</label>
                    <select asp-for="RightBoundaryCondition" asp-items="Html.GetEnumSelectList<BoundaryCondition>()" class="form-control" id="rbc" onchange='BoundaryCondition(this);'>
                    </select>
                    <span asp-validation-for="RightBoundaryCondition"></span>
                </div>
            </div>
            <partial name="~/Views/Section/_SectionCreate.cshtml" model="Model.CreateSection" />
            <partial name="~/Views/Load/_LoadCreateMyQz.cshtml" model="Model.CreatLoad" />
            <div class="col-sm-1">
                <input type="submit" bootstrap-long-button="" />
            </div>
        </form>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2 padding: 10px">
        <div class="row mt-3">
            <img id="section" src="~/images/sys/sect2TSteel.png" class="img-fluid align-content-center" alt="Responsive image" />
        </div>
    </div>
</div>


<script type='text/javascript'>
    function UpdateImage(source) {
        var image = document.getElementById('section');
        switch (source.value) {
            case '5':
                image.style.display = 'inline;'
                image.src = "/images/sys/SteelRecSect.png";
                document.getElementById('flangeWeb').innerHTML="";
                break;
            case '1':
                image.style.display = 'inline';
                image.src = "/images/sys/sect2TSteel.png";
                break;
            default:
                image.src = '';
                image.style.display = 'none;'
        }
    }
    function BoundaryCondition() {
        var image = document.getElementById('beam');
        if ($("#lbc").val() == "2" && $("#rbc").val() == "2") {
            image.style.display = 'inline;'
            image.src = "/images/sys/beamPinnedPinned.png";
        }
        else if ($("#lbc").val() == "3" && $("#rbc").val() == "3") {
            image.style.display = 'inline;'
            image.src = "/images/sys/beamFixedFixed.png";
        }
        else if ($("#lbc").val() == "2" && $("#rbc").val() == "3") {
            image.style.display = 'inline;'
            image.src = "/images/sys/beamPinnedFixed.png";
        }
        else if ($("#lbc").val() == "3" && $("#rbc").val() == "2") {
            image.style.display = 'inline;'
            image.src = "/images/sys/beamFixedPinned.png";
        }
        else if ($("#lbc").val() == "3" && $("#rbc").val() == "1") {
            image.style.display = 'inline;'
            image.src = "/images/sys/beamFixedFree.png";
        }
        else if ($("#lbc").val() == "1" && $("#rbc").val() == "3") {
            image.style.display = 'inline;'
            image.src = "/images/sys/beamFreeFixed.png";
        }
        else {
            alert("The element is unstableThe element is unstable! Change boundary condition!");
        }
    };

</script>